body {
      font-family:serif;
      font-size: 16px;
      line-height: 1.5;
    }


    h2 {
      font-size: 24px;
      margin: 1.5em 0 0.5em;
    }

    p {
      margin: 0 0 1em;
    }


    blockquote {
      font-style: italic;
      padding: 1em;
      border-left: 4px solid grey;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 1.5em 0;
      border-style: solid;

    }

    thead {
      background-color: #eee;
    }

    td,thead {
      padding: 0.5em;
      border: 1px solid black;
    }

    tfoot {
      background-color: #eee;
    }


    input[type="text"], select {
      display: block;
      width: 25%;
      padding: 0.5em;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 1em;
    }
